<ion-view title="Top Surfers">
    <ion-content ng-controller="UserListCtrl">
        <ion-list>
            <div class="list">

                <div ng-repeat="user in users" class="row item">
                    <div class="col col-center">
                        <a class="item-avatar" href="#">
                            <img ng-src="{{user.image}}">
                        </a>
                    </div>
                    <div class="col col-center padding-vertical">
                        <h3>{{user.name}}</h3>
                        <p>{{user.points}}</p>
                    </div>

                    <div class="col padding-vertical">
                        <h1 align="right">{{$index + 1}}</h1>
                    </div>
                </div>

            </div>
        </ion-list>
    </ion-content>
</ion-view>
