<ion-view title="Top Surfers">
    <ion-content>
        <ion-list>
            <div class="list">

                <div class="row item">
                    <div class="col col-center">
                        <a class="item-avatar" href="#">
                            <img src="img/user1.jpg">
                        </a>
                    </div>
                    <div class="col col-center padding-vertical">
                        <h2>Rui Ferrão</h2>
                        <p>5000 Points</p>
                    </div>

                    <div class="col padding-vertical">
                        <h1 align="right">1</h1>
                    </div>
                </div>

                <div class="row item">
                    <div class="col col-center">
                        <a class="item-avatar" href="#">
                            <img src="img/user1.jpg">
                        </a>
                    </div>
                    <div class="col col-center padding-vertical">
                        <h2>Rui Ferrão</h2>
                        <p>5000 Points</p>
                    </div>

                    <div class="col padding-vertical">
                        <h1 align="right">2</h1>
                    </div>
                </div>

                <div class="row item">
                    <div class="col col-center">
                        <a class="item-avatar" href="#">
                            <img src="img/user1.jpg">
                        </a>
                    </div>
                    <div class="col col-center padding-vertical">
                        <h2>Rui Ferrão</h2>
                        <p>5000 Points</p>
                    </div>

                    <div class="col padding-vertical">
                        <h1 align="right">3</h1>
                    </div>
                </div>

                <div class="row item">
                    <div class="col col-center">
                        <a class="item-avatar" href="#">
                            <img src="img/user1.jpg">
                        </a>
                    </div>
                    <div class="col col-center padding-vertical">
                        <h2>Rui Ferrão</h2>
                        <p>5000 Points</p>
                    </div>

                    <div class="col padding-vertical">
                        <h1 align="right">4</h1>
                    </div>
                </div>

                <div class="row item">
                    <div class="col col-center">
                        <a class="item-avatar" href="#">
                            <img src="img/user1.jpg">
                        </a>
                    </div>
                    <div class="col col-center padding-vertical">
                        <h2>Rui Ferrão</h2>
                        <p>5000 Points</p>
                    </div>

                    <div class="col padding-vertical">
                        <h1 align="right">5</h1>
                    </div>
                </div>

                <div class="row item">
                    <div class="col col-center">
                        <a class="item-avatar" href="#">
                            <img src="img/user1.jpg">
                        </a>
                    </div>
                    <div class="col col-center padding-vertical">
                        <h2>Rui Ferrão</h2>
                        <p>5000 Points</p>
                    </div>

                    <div class="col padding-vertical">
                        <h1 align="right">6</h1>
                    </div>
                </div>

                <div class="row item">
                    <div class="col col-center">
                        <a class="item-avatar" href="#">
                            <img src="img/user1.jpg">
                        </a>
                    </div>
                    <div class="col col-center padding-vertical">
                        <h2>Rui Ferrão</h2>
                        <p>5000 Points</p>
                    </div>

                    <div class="col padding-vertical">
                        <h1 align="right">7</h1>
                    </div>
                </div>

                <div class="row item">
                    <div class="col col-center">
                        <a class="item-avatar" href="#">
                            <img src="img/user1.jpg">
                        </a>
                    </div>
                    <div class="col col-center padding-vertical">
                        <h2>Rui Ferrão</h2>
                        <p>5000 Points</p>
                    </div>

                    <div class="col padding-vertical">
                        <h1 align="right">8</h1>
                    </div>
                </div>

            </div>
        </ion-list>
    </ion-content>
</ion-view>
